body {
  background-color: #000 !important;
}
.search {
  padding: 12px;
  width: 520px;
  border: 1px solid rgb(242, 199, 27);
  border-radius: 6px;
}
.search:focus {
  outline: none;
  border: 2px solid rgb(240, 133, 10);
}
.search-btn {
  margin-left: -95px;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/**Loader */
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.movie-container {
  width: 850px;
  margin: 50px auto;
  color: white;
}
.content {
  width: 500px;
}
p {
  font-size: 17px;
}

.movie-container h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#f3b530, #525151);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.movie-container img:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.movie-container img {
  margin-left: 50px;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
